body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#a5bbc2da, #a5bbc2da),
                        url(./img/WP.jpg);
    color: #4d4848; /* Color gris para las letras */
}

h1 {
    font-size: 50px;
    font-family: Georgia, serif;
    text-align: center;
    color: #001C30; /* el título */
    padding-top: 50PX;
    margin-bottom: 5px; /* Ajustar el margen inferior */
    text-shadow:
    4px 4px 4px #706c6ca4, 
    1px 1px 1px #9c9696a4;
}

h2.powered-by {
    text-align: center;
    font-size: calc(0.25 * 2em); /* Tamaño de fuente */
    margin-top: -5px; /* Ajustar el margen superior */
    color: #615c5c;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    height: 200px;
    width: 200px;
    background-color: #71d1cb;
    border: 3px solid rgba(53, 51, 51, 0.87);
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 10px 10px 10px #706c6ca4;
    margin: 40px;
}

div.buttons {
    text-align: center;
    margin: 130px;
}

p.name {
    font-family: 'Courier New', Courier, monospace;
    color: #001C30;
    font-weight: bold;
    text-shadow: 
    1.5px 1.5px 1.5px rgb(136, 130, 130),
    1px 1px 1px rgba(95, 91, 91, 0.801);            
    font-size: 20px;
}

img {
    inline-size: 90%;
}

footer {
    font-size: small;
    padding-left: 5px;
}

button:hover {
    background-color: #3fb3ab;
}
  