body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#a5bbc2da, #a5bbc2da),
                        url(../img/WP.jpg);
    color: #1c1d1d; /* Color de las letras */
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-family: Georgia, serif;
    text-align: center;
    color: #012a47; /* Color naranja claro para el título */
    margin-bottom: 10px; /* Ajustar el margen inferior */
    text-shadow:
    4px 4px 4px #706c6ca4, 
    1px 1px 1px #9c9696a4;
}

h2.powered-by {
    text-align: center;
    font-size: calc(0.25 * 2em); /* Tamaño de fuente */
    margin-top: -5px; /* Ajustar el margen superior */
    margin-bottom: 20px; /* Añadir un espacio entre el título y el texto "Powered by" */
    color: #615c5c;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
    font-style: italic;
    font-size: 0.6em;
    margin-top: 15%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #dafffb8f;
    box-shadow: 
    10px 10px 10px #706c6ca4, 
    5px 5px 5px #9c9696a4;
}

table, th, td {
    border: 1px solid #acaaa7da;
    padding: 4px;
    text-align: center;
    white-space: nowrap; /* No envolver texto */
    font-size: 0.6em;
}

th {
    background-color: #176B87;
    font-size: 1em;
    color: #DAFFFB;
    border-radius: 10%;
}

td {
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #3fb3ab; /* Cambio de color al pasar el rat�n */
}
