body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#a5bbc2da, #a5bbc2da),
                        url(../img/WP.jpg);
    color: #1c1d1d; /* Color de las letras */
}

.container {
    max-width: fit-content;
    margin: 0 auto;
}    

h1 {
    font-size: 50px;
    font-family: Georgia, serif;
    text-align: center;
    color: #012a47; /* Color naranja claro para el título */
    margin-bottom: 10px; /* Ajustar el margen inferior */
    text-shadow:
    4px 4px 4px #413d3da4, 
    1px 1px 1px #706b6ba4;
}

h2.powered-by {
    text-align: center;
    font-size: calc(0.25 * 2em); /* Tamaño de fuente */
    margin-top: -5px; /* Ajustar el margen superior */
    margin-bottom: 20px; /* Añadir un espacio entre el título y el texto "Powered by" */
    color: #615c5c;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
    font-style: italic;
    font-size: 0.6em;
    margin-top: 15%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #c2e0ddcb;
    box-shadow: 
    10px 10px 10px #706c6ca4, 
    5px 5px 5px #9c9696a4;
}

table, th, td {
    border: 1px solid #acaaa7da;
    padding: 4px;
    text-align: center;
    white-space: nowrap; /* No envolver texto */
    font-size: 12px;
}

th {
    background-color: #176B87;
    font-size: 13px;
    color: #DAFFFB;
    border-radius: 10%;
}

td {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button:hover {
    background-color: #3fb3ab; /* Cambio de color al pasar el rat�n */
}

    @media (max-width: 680px) {
        .container {
            max-width: 100%;
            margin: 0 auto;
        }
        
        h1 {
            font-size: 40px;
            font-family: Georgia, serif;
            text-align: center;
            color: #012a47; /* Color naranja claro para el título */
            margin-bottom: 5px; /* Ajustar el margen inferior */
            text-shadow:
            4px 4px 4px #413d3da4, 
            1px 1px 1px #706b6ba4;
        }
        
        h2.powered-by {
            text-align: center;
            font-size: calc(0.25 * 2em); /* Tamaño de fuente */
            margin-top: -5px; /* Ajustar el margen superior */
            margin-bottom: 20px; /* Añadir un espacio entre el título y el texto "Powered by" */
            color: #615c5c;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        input[type="file"] {
            display: block;
            margin: 20px auto;
            font-style: italic;
            font-size: 0.6em;
            margin-top: 15%;
        }
        
        table {
            border-collapse: collapse;
            margin-top: 18px;
            margin: 5px;
            background-color: #c2e0ddcb;
            box-shadow: 
            10px 10px 10px #706c6ca4, 
            5px 5px 5px #9c9696a4;
        }
        
        table, th, td {
            border: 1px solid #acaaa7da;
            text-align: center;
            white-space: pre-line; /* No envolver texto */
            font-size: 11px;
        }
        
        th {
            background-color: #176B87;
            font-size: 11px;
            color: #DAFFFB;
            border-radius: 10%;
        }
        
        td {
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
        }
        
    }
